@import "style";

$button-min-width: 120px;
$button-min-height: 30px;
$button-min-width-mobile: $button-min-width;
$button-min-height-mobile: 44px;

button {
  min-height: $button-min-height;
  min-width: $button-min-width;
  border: 1px solid $color-primary-light;
  color: $color-primary-light;
  background: $color-primary;
  cursor: pointer;

  &:hover {
    border: 1px solid $color-secondary;
    color: $color-secondary;
  }

  &:disabled {
    border: inherit;
    background: $color-primary-light;
    color: $color-primary;
    cursor: default;
  }

  &:focus {
    outline: 0;
  }

  &:active {
    border: 1px solid $color-secondary-dark;
    color: $color-secondary-dark;
  }

  &.mobile {
    min-height: $button-min-height-mobile;
    min-width: $button-min-width-mobile;
  }
}