@import "style";

$navigation-bar-height: 40px;
$navigation-bar-button-height: 30px;
$navigation-bar-button-width: 30px;

div {
  &.navigation-bar {
    background: $color-primary;
    height: $navigation-bar-height;

    .title {
      height: $navigation-bar-height;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .navigation-items {
      box-sizing: border-box;
      height: $navigation-bar-height;
      display: flex;
      align-items: center;

      &.left {
        justify-content: flex-start;
      }

      &.right {
        justify-content: flex-end;
      }

      .button {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .icon {
          background-size: $navigation-bar-button-width $navigation-bar-button-height;
          width: $navigation-bar-button-width;
          height: $navigation-bar-button-height;
          float: left;

          &.back {
            background-image: url("../images/ic_back.png");
          }

          &.menu {
            background-image: url("../images/ic_menu.png");
          }
        }

        .title {
          float: left;

          &::after {
            visibility: hidden;
            display: block;
            clear: both;
            content: " ";
          }
        }
      }
    }
  }
}