@charset "UTF-8";

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Noto+Serif:400,700);

@import "style";
@import "grid";
@import "input";
@import "button";
@import "text";
@import "list";

* {
  @include font-primary();
  font-size: $font-size-normal;
  padding: 0;
  margin: 0;
}

body {
  background: $color-primary;
  padding: $padding-normal;
  box-sizing: border-box;
}

